<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
    <title>Sign Up Page</title>
</head>
<body>
<h2>SignUp Page!</h2>
<form action=# th:action="@{/signUp}" th:object="${login}" method="post">
    <label>EmailId</label>
    <input type="email" th:field="*{emailId}" required/><br/>
    <label>Password</label>
    <input type="password" th:field="*{password}" required/><br/>
    <br>
    <label>Typeofuser</label><br/>

    <select th:field="*{typeOfUser}" required>
        <option value="" th:disabled th:selected="selected">Select an option</option>
        <option value="admin">Admin</option>
        <option value="customer">Customer</option>
    </select>
    <input type="submit" value="Sign Up"/>
    <p th:text="${errorMessage}"></p>
</form>
</body>
</html>