<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SimpleServletApp</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.example.Phase2.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <description></description>
    <display-name>AddClass</display-name>
    <servlet-name>AddClassServlet</servlet-name>
    <servlet-class>com.example.Phase2.servlet.ClassServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddClassServlet</servlet-name>
    <url-pattern>/addClass</url-pattern>
  </servlet-mapping>

  <servlet>
    <description></description>
    <display-name>ViewClass</display-name>
    <servlet-name>ViewClassServlet</servlet-name>
    <servlet-class>com.example.Phase2.servlet.ClassServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewClassServlet</servlet-name>
    <url-pattern>/viewClass</url-pattern>
  </servlet-mapping>

  <servlet>
    <description></description>
    <display-name>AddSubject</display-name>
    <servlet-name>AddSubjectServlet</servlet-name>
    <servlet-class>com.example.Phase2.servlet.SubjectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSubjectServlet</servlet-name>
    <url-pattern>/addSubject</url-pattern>
  </servlet-mapping>


  <servlet>
    <description></description>
    <display-name>ViewSubject</display-name>
    <servlet-name>ViewSubjectServlet</servlet-name>
    <servlet-class>com.example.Phase2.servlet.SubjectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewSubjectServlet</servlet-name>
    <url-pattern>/viewSubject</url-pattern>
  </servlet-mapping>

</web-app>