.center {
    margin: auto;
    width: 60%;
    border: 3px solid black;
    padding: 10px;
    position: absolute;
    top: 40%;
    left: 20%;
}
div{
    border-radius: 3px;
    padding : 10px;
    text-align: center;
    background-color: antiquewhite;
    font-size: 15px;
}
body {
    text-align: center;
}